/* Caractérisitiques de l'écriture H1 */
h1 {
	text-align: center;
	color: orange;
	font-family:  lucida handwriting;
	font-size: 60px;
}

/* Caractérisitiques de l'écriture H1 */
h2 {
	text-align: center;
	color: blue;
	font-family:  lucida handwriting;
	font-size: 45px;	
}

h1, h2 {
	background-color: #A4E1FF;
	line-height: 100px;
	margin: 0;
}

/* Caractérisitiques de l'écriture h6 */
p {
	text-align: justify ;
	color: black;
	font-family: calibri ;
	font-size: 20px;
	/* Marge */
	border-left: 70px solid white;
	border-right: 70px solid white;
	width: 500 px;	
}


/* Mise en page du pied de page */
footer{
  text-align: center;
  background: blue;
  color: white;
  line-height:45px;
  font-size: 30px;
  font-family: Liberation Mono;
}

/* Caractérisitiques de l'écriture p */
h6 {
	text-align: center;
	color: bleu;
	font-family: Brush Script MT ;
	font-size: 40px;	
}