input:invalid ~ span:after {
  content: '✖';
  padding-left: 5px;
  position: absolute;
}

input:valid ~ span:after {
  content: '✓';
  padding-left: 5px;
  position: absolute
}

/* --------------------------------------- */
		   /* MENU MENU MENU MENU*/
*{
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif;
}

nav {
	width: 100%;
	margin: 0 auto;
	background-color: white;
	position: sticky;
	top: 0px
}

nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li{
	float: left;
	border-right: 1px white solide;
    background-color: #333;
	border-right: none;
}

nav a{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover{
	color: orange;
	border-bottom: 2px solid gold;
}

/* Sous-menu */
.sous { 
	display: none;
	background-color: white;
	position: absolute;
	z-index: 1000;
	text-align: center;
	
}

nav > ul li:hover .sous{
	display: block;
}

.sous li{
	float: none;
	width: 100%;
	text-align: left;
}

.sous a{
	padding: 10px;
	border-bottom: none;
}

.sous a:hover{
	border-bottom: none;
	background-color: RGBa(200,200,200,0.1);
}

/* Menu déroulant */
.deroulant > a::after {
	content: " ▼";
	font-size: 12px;
}

/* Met la page active en orange */
.active{
	background-color: orange;
}
		 /* FIN MENU FIN MENU */
/* --------------------------------------- */



/* Logo CAMPUS pour retourner à la page d'accueil */
 div#extra {
    position: absolute;
	top: 20px;
	left: 30px;
	background-color: white;
}

/* Logo de la page */
div#plus {
	position: absolute;
	top: 20px;
	right: 30px;
	background-color: white;
}

/* Caractérisitiques de l'écriture H1 */
h1 {
	text-align: center;
	color: orange;
	font-family:  lucida handwriting;
	font-size: 40px;
	margin: 15px;
	padding-top: 6px;
}

/* Caractérisitiques de l'écriture H3 */
h2 {
	text-align: center;
	color: green;
	font-family:  lucida handwriting;
	font-size: 25px;
	margin: 15px;
	padding-top: 15px;
}

/* Caractérisitiques de l'écriture H3 */
h3 {
	text-align: center;
	color: blue;
	font-family:  lucida handwriting;
	font-size: 20px;
	margin: 15px;
}

/* Caractérisitiques de l'écriture H4 */
h4 {
	text-align: ;
	color: ;
	font-family: ;
	font-size: ;
	
}

/* Caractérisitiques de l'écriture H5 */
h5 {
	text-align:  ;
	color: ;
	font-family:  ;
	font-size: ;
	
}

/* Caractérisitiques de l'écriture p */
h6 {
	text-align: center;
	color: bleu;
	font-family: Brush Script MT ;
	font-size: 40px;
	
}

/* Caractérisitiques de l'écriture h6 */
p {
	text-align: justify ;
	color: black;
	font-family: calibri ;
	font-size: 16.5px;
	/* Marge */
	border-left: 70px solid white;
	border-right: 70px solid white;
	width: 500 px;
	
}

/* Tabulation */
.tabulation { 
	display: inline-block;
	font-family: calibri;
	margin-left: 40px; 
} 

/* Mise en page du pied de page */
footer{
  text-align: center;
  background: orange;
  color: white;
  line-height:45px;
  font-size: 20px;
  font-family: Liberation Mono;
}

/* Configuration du tableau */
table, th, tr {
	border: 20px solid white;
	text-align: center;
	width: 100%;
}

/* Configuration des vidéos */
iframe {
	text-align: center;
	position: center;
}




