@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); /* font-family: 'Press Start 2P', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); /* font-family: 'Fredoka One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@600&display=swap'); /* font-family: 'Gluten', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); /* font-family: 'Permanent Marker', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap'); /* font-family: 'Chonburi', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap'); /* font-family: 'Benne', serif; */
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap'); /* font-family: 'Calligraffitti', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap'); /* font-family: 'Chonburi', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); /* font-family: 'Pacifico', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap'); /* font-family: 'Special Elite', cursive; */

/*--------------------------------------------------------------
# MISE EN PAGE DU GENERALE
--------------------------------------------------------------*/
body {
    padding: 2% 2% 2% 2%;
    font-family: 'Noto Sans', sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
}
  
body::before {
    content: "";
    position: fixed;
    background: #040404 url("../img/fond2.jpg") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: -1;
}

span{
	color: #ff7600;
}
/* MISE EN PAGE POUR SMARTPHONE */
@media screen and (max-width: 750px) {
	body {
		padding: 0 0;
	}
}
/* ---------------------------------------------------------- */


/*--------------------------------------------------------------
# MISE EN PAGE - MENU & INTRODUCTION
--------------------------------------------------------------*/
/* MENU */
nav {
	display: flex;
    padding: 5px 5px 5px 5px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	position: sticky;
	top: 0;	
}
nav .profile {
	display: flex;
	align-items: center;
}
nav .profile img {
    width: 40px;
	height: 40px;
	border-radius: 50%;
}
nav h1 {
	font-size: 30px;
	margin-left: 10px;
    color: #000;
}
nav ul {
	display: flex;
	list-style-type: none;
}

nav ul li {
	margin-left: 20px;
	cursor: pointer;
}

nav a {
    display: block;
    position: relative;
    color: black;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-decoration: none;  /* Enlever le truc bleu au niveau des liens */
}
nav a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: orangered;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}
nav a:hover::before,
nav li:hover > a::before,
nav .active > a::before {
    visibility: visible;
    width: 100%;
}
/* MISE EN PAGE MENU POUR SMARTPHONE */
@media screen and (max-width: 750px) {
	nav {
		justify-content: center;
	}
    nav .profile img {
        width: 30px;
        height: 30px;
    }
    nav h1 {
        font-size: 20px;
    }
	nav ul {
		display: inline-block;
	}
    nav a {
        display: inline-flex;
        font-size: 10px;
        font-weight: 300;
    }
}



#Titre_Page_1 h2 {
    text-align: center;
    font-size: 70px;
    font-family: 'Special Elite', cursive;
    color: whitesmoke;
    margin-bottom: 5%;
    margin-top: 5%;
}



#bio_clement h3, #bio_nathan h3, #bio_guilhem h3, #bio_romain h3, #bio_louane h3, #bio_nina h3, #bio_bastien h3 {
    text-align: center;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    color: white;
}
#bio_clement h4, #bio_nathan h4, #bio_guilhem h4, #bio_romain h4, #bio_louane h4, #bio_nina h4, #bio_bastien h4 {
    text-align: center;
    font-size: 27px;
    font-family: 'Benne', serif;
    color: white;
}
#bio_clement p, #bio_nathan p, #bio_guilhem p, #bio_romain p, #bio_louane p, #bio_nina p, #bio_bastien p {
    text-align: center;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    color: white;
}
#bio_nina {
    background: #040404;
    padding: 40px;
    margin: 40px;
}
#bio_clement {
    background: burlywood;
    background-size: 40px 40px;
}
#bio_nathan {

}
#bio_guilhem {

}
#bio_bastien {

}
#bio_louane {
    
    background: #040404 url("../img/bio_louane.jpg") no-repeat center;
    background-size: 400px 600px;
}


.center {
    display: block;
    width: 50%;
    margin: auto;
}




/*--------------------------------------------------------------
# MISE EN PAGE - FOOTER
--------------------------------------------------------------*/
footer {
	margin-top: 5%;           /* Espacement avec le texte du dessus */
	display: flex; 
	flex-wrap: wrap; /* Allez à la ligne si besoin */
	justify-content: space-around; /* Espace autour des éléments */
	background-color: #000;
	color: white;
	padding: 10px;
	text-decoration: none;
}
footer .colonne a {           /* Enlever le truc bleu au niveau des liens */
	text-decoration: none;
	color: white;
}
footer .colonne p {
	font-size: 15px;
	color: #ccc;
	cursor: pointer;
}
footer .colonne p:hover {
	color: #fff;
}
footer .colonne i{
	color: #fff;
	font-size: 20px;
	padding-left: 14px;
	padding-top: 5px;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}
footer .colonne i:hover{
	color: orange;
}
/* ---------------------------------------------------------- */


/*--------------------------------------------------------------
# MISE EN PAGE - FOOTER de FIN
--------------------------------------------------------------*/
.footer_fin {
	margin: 0%;
	padding: 0%;
	text-align: center;
	background: #ff7600;
	color: white;
	line-height: 45px;
	font-size: 20px;
	font-family: 'Liberation Mono';
}
/* ---------------------------------------------------------- */


/* MISE EN PAGE POUR SMARTPHONE */
@media screen and (max-width: 750px) {
	
	.box {
		display: block;
	}
	.card {
		width: auto;
	}
	.competences_titre {
		float: left;
		text-align: center;
		width: 100%;
		margin-bottom: 0;
	}
	.competences_titres h2{
		display:inline-block;
		font-size: 40px;
		font-weight: bold;
		letter-spacing: -3px;
		line-height: 89px;
		margin: 0;
	}
	.competences_sous_titres {
		display: inline-block;
		padding-left: 0;
		text-align: center;
	}
	.competences_sous_titres h3{
		color: #161616;
		display: inline-block;
		text-align: center;
		font-size: 25px;
		margin: 0;
	}
	.competences_sous_titres span{
		float: left;
		text-align: center;
		font-size: 20px;
		margin: 0;
	}
	footer {
		justify-content: flex-start;
	}
	footer .column {
		width: 80%;
	}
}
/* --------------------------------------------- */

